.landingPage {
    background-image: linear-gradient(to right top, #f2edf4, #ebe4f3, #e1dbf4, #d4d3f5, #c4ccf6, #bbcff9, #b2d3fa, #aad6fa, #b3e1f9, #c2ecf8, #d5f5f9, #e9fdfc);
    position: relative;
    overflow: hidden;

    @include respond('phone') {
        .landingPage {
            width: calc(100vw);
        }
    }

    &__description {
        position: relative;
        overflow: hidden;
        height: 100vh;
        // background-color: $color-primary;
    }

    &__heading {
        height: 30%;
        position: relative;

        .heading-container {
            width: 100%;
            z-index: 999;
        }

    }
    
    &__image {
        width: 100%;
        animation-fill-mode: backwards;
        z-index: -1;
    }
    
    &__image > img {
        width: 100%;
        margin-top: -15rem;
    }



}
