.popup-forgot {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: rgba($color-black, .8);
    transition: all .1s;
}

@supports  (backdrop-filter: blur()) {
    .popup-forgot {
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter:  blur(20px);
    }
}

@supports  (-webkit-backdrop-filter: blur()) {
    .popup-forgot {
        -webkit-backdrop-filter: blur(20px) !important;
        backdrop-filter:  blur(20px);
    }
}

