<div id="loginContainer" class="login__container">
    <div class="login-form">
        <form class="form" method="" action="">
            <h2 class="heading-secondary u-ls-0 u-color-white u-lh-s u-mb-s">
                Log in to your account!
            </h2>
            <input class="form__input" id="emailInput" type="email" name="email" placeholder="Email Address" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$">
            <label class="form__label" for="emailInput">Email Address</label>
            <input class="form__input" id="passInput" type="password" name="password" placeholder="Password" required min="8" max="15">
            <label class="form__label" for="passInput">Password</label>
            <a class="form__link u-color-danger u-inline-block" id="forgotPopupBtn" href="">Forgot Password?</a>
            <button id="loginBtn" class="form__btn u-bg-color-login" type="submit">Log In</button>
            <p class="heading-teritary">
                Not registered yet?
                <a class="form__link u-color-signup u-inline-block" href="">Create an account</a>
            </p>
            <button class="close-btn" id="closeLoginBtn" type="submit">&times;</button>
        </form>
    </div>
</div>