<div class="signup__container" id="signupContainer">
    <div class="signup-form">
        <form class="form" action="/signup" method="get">
            <h2 class="heading-secondary u-ls-0 u-color-white u-lh-s u-mb-s">
                Almost there!
            </h2>

            <input class="form__input" id="nameInput" type="text" name="name" placeholder="Full Name" required>
            <label class="form__label" for="nameInput">Full Name</label>
            <button class="form__btn u-bg-color-signup" id="signupComplete" type="submit">Sign Up</button>

            <button class="close-btn" id="prevSignupBtn" type="submit">&#8617;</button>
        </form>
    </div>
</div>