@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
    @if $breakpoint == "tab" {
        @media only screen and (max-width: 1000px) {
            @content;
        }
    }
    @if $breakpoint == "phone" {
        @media only screen and (max-width: 600px) {
            @content;
        }
    }
}